$font-stack: 'Poppins', sans-serif; 

// COLORS
$blue: #026FE9;
$black: #000000;
$white: #FFFFFF;
$gray20: #333333;
$gray31: #4F4F4F;
$gray40: #666666;
$gray95: #F2F2F2;
$light-gray: #F6F6F6;


// TYPOGRAPHY
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;  
$size-20: 20px;  

$regular: 400;
$medium: 500;
$semi-bold: 600;  
